h2 {
  padding-left: 10px;
}

.review {
  display: flex;
}
.reviewList {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.reviewListArticle {
  margin: 0;
  padding: 0;
}

.reviewListData {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.reviewListCreation {
  font-size: 12px;
  font-style: oblique;
}
